<?xml version="1.0" encoding="UTF-8" ?>
<server description="lutece server">
    <!--The Liberty Maven Plugin has generated Liberty features necessary for your application in configDropins/overrides/generated-features.xml-->
    <featureManager>
        <feature>persistence-3.1</feature>
        <feature>beanValidation-3.0</feature>
        <feature>jndi-1.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>localConnector-1.0</feature>
        <feature>cdi-4.0</feature>
        <feature>servlet-6.0</feature>
        <feature>pages-3.1</feature>
        <feature>mpConfig-3.1</feature>
        <feature>mail-2.1</feature>
        <feature>xmlBinding-4.0</feature>
        <feature>concurrent-3.0</feature>
        
        <feature>mpHealth-4.0</feature>
        <feature>mpTelemetry-2.0</feature>
        <feature>ssl-1.0</feature>
        
     </featureManager>
    <variable name="http.port" defaultValue="9090" />
    <variable name="https.port" defaultValue="9443" />

    <httpEndpoint host="*" httpPort="${http.port}"
        httpsPort="${https.port}" id="defaultHttpEndpoint" />

	 <mpTelemetry source="message, trace, ffdc"/>
	 <application name="lutece" context-root="lutece" location="lutece-site-1.0.0.war" type="war">		
			<!-- <classloader commonLibraryRef="log4jConfig"/>
			  <classloader commonLibraryRef="JCacheLib" />-->
		</application> 	
		<applicationMonitor dropinsEnabled="false" updateTrigger="disabled" />

</server>